@model IEnumerable<DormitoryAlliance.Client.Models.Student>

@{
    ViewData["Title"] = "List";
}

<div class="row mb-3">
    <h1>Student list</h1>

    <div class="dropdown mt-2 ml-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Examples
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/list">All students</a></li>
            <li><a class="dropdown-item" href="/list/dormitory1">Sort by dormitory №1</a></li>
            <li><a class="dropdown-item" href="/list/dormitory2">Sort by dormitory №2</a></li>
            <li><a class="dropdown-item" href="/list/dormitory3">Sort by dormitory №3</a></li>
            <li><a class="dropdown-item" href="/list/dormitory5/group1">Sort by dormitory №5 and group</a></li>
        </ul>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Dormitory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Dormitory.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
        </tr>
}
    </tbody>
</table>
