@model IEnumerable<DormitoryAlliance.Client.Models.Group>

<p>
    <a asp-action="StudentIndex">Go to Students</a> |
    <a asp-action="StudentCreate">Add New Student</a> |
    <a asp-action="GroupCreate">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="GroupEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="GroupDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="GroupDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
